
<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :concept %><br />
    <%= f.text_field :concept %>
  </div>
  
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
 
	<div class="field">
		<%= f.label :category %>
		<%= select("entry","category_id", @categories.collect {|p| [ p.name, p.id ]}) %>
	</div>

  <div class="field">
    <%= f.label :type %>    
    <%= select("entry","type_id", @types.collect {|p| [ p.name, p.id ]}) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
