<p id="notice"><%= notice %></p>

<p>
  <b>Concept:</b>
  <%= @expense.concept %>
</p>

<p>
  <b>Amount:</b>
  <%= @expense.amount %>
</p>

<p>
  <b>User:</b>
  <%= @user_name %>
</p>

<p>
  <b>Category:</b>
  <%= @category_name %>
</p>

<p>
  <b>Type:</b>
  <%= @type_name %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>