<h1>Expenses</h1>

<table>
  <tr>
    <th>Concept</th>
    <th>Amount</th>
    <th>Category</th>
    <th>Date</th>
    <th></th>
  </tr>

<% @expenses.each do |expense| %>
  <tr>
    <td><%= expense.concept %></td>
    <td><%= expense.amount %></td>
    <td><%= Category.find(expense.category_id).name %></td>
	<td><%= l expense.created_at, :format => :short %></td>
  </tr>
<% end %>
 <tr>
    <td>Total:</td>
    <td><%= @total_expenses %></td>
  </tr>
</table>

<br />

<h1>Entries</h1>

<table>
  <tr>
    <th>Concept</th>
    <th>Amount</th>
    <th>Category</th>
    <th>Type</th>
    <th>Date</th>
    <th></th>
  </tr>
<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.concept %></td>
    <td><%= entry.amount %></td>
    <td><%= Category.find(entry.category_id).name %></td>
	<td><%= l entry.created_at, :format => :short %></td>
  </tr>
<% end %>
  <tr>
    <td>Total:</td>
    <td><%= @total_entries %></td>
  </tr>
</table>

<h1>Summary</h1>
<table>
	<th>
		<% if @total_expenses >=  @total_entries %>
			<td>No benefit</td>
			<% else if @total_entries > @total_expenses %>
				<td><span>Total of benefits:</span></td>
				<td><%= @total_entries - @total_expenses %></td>
			<% end %>
		<% end %>
	</th>
</table>
